* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", serif;
  background: linear-gradient(to bottom, #f7efe5, #ead9c6);
  color: #2c2c2c;
  line-height: 1.8;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: #862fa6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  z-index: 1000;
}

.webname {
  font-size: 56px;
  color: #ffd166;
}

.top-link {
  margin-left: 30px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #ffd166;
  transition: 0.3s;
}

.top-link:hover {
  color: #ffffff;
}

/* HERO */
.hero {
  height: 90vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://images.unsplash.com/photo-1564507592333-c60657eea523")
      center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.hero-text {
  text-align: center;
  color: #fff;
}

.hero-text h1 {
  font-size: 78px;
  letter-spacing: 3px;
}

.hero-text p {
  font-size: 26px;
  margin-top: 15px;
}

/* SECTIONS */
.section {
  max-width: 1000px;
  margin: 90px auto;
  padding: 0 40px;
}

.section h2 {
  font-size: 38px;
  color: #b76b3a;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  margin-bottom: 18px;
  text-align: justify;
}

.section.alt {
  background: #fff3e6;
  padding: 60px;
  border-radius: 30px;
}

/* GALLERY */
.gallery {
  text-align: center;
  padding: 80px 40px;
}

.gallery h2 {
  font-size: 36px;
  color: #862fa6;
  margin-bottom: 40px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease;
}

.gallery-grid img:hover {
  transform: scale(1.06);
}

/* FOOTER */
.footer {
  background: #862fa6;
  color: #ffd166;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
