html,body{
    background:#fdeabf;
    font-family:'Franklin Gothic Medium';
}

.profile-container{
    width:80%;
    margin:auto;
    text-align:center;
    margin-top:40px;
}

.profile-card{
    background:#6a0dad;
    width:50%;
    margin:auto;
    padding:30px;
    border-radius:30px;
    color:#ffd166;
}

input,textarea{
    width:100%;
    padding:10px;
    margin:10px 0 20px;
    border-radius:10px;
    border:none;
}

.edit-btn{
    background:#ffd166;
    color:#6a0dad;
    padding:12px;
    font-size:18px;
    border:none;
    border-radius:15px;
    cursor:pointer;
}
