html,body{
     background-color:#fdeabf;
}



.editprofile-container {
    text-align: center;
    margin-top: 40px;
    color: #cda64c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.editprofile-title {
    font-size: 38px;
    margin-bottom: 20px;
}

.editprofile-card {
    background: #6a0dad;
    width: 45%;
    margin: auto;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.editprofile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #ffd166;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.change-photo-btn {
    background-color: #ffd166;
    color: #6a0dad;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.change-photo-btn:hover {
    transform: scale(1.05);
}

.editprofile-card label {
    text-align: left;
    font-size: 18px;
}

.editprofile-card input,
.editprofile-card textarea {
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
}

.save-btn {
    margin-top: 20px;
    background-color: #ffd166;
    color: #6a0dad;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.save-btn:hover {
    transform: scale(1.08);
}
