html,body{
    background-color:#fdeabf;
}


.map-container {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#a38131;
    margin-top: 30px;
}

.map-title {
    font-size: 40px;
    margin-bottom: 5px;
}

.map-subtitle {
    font-size: 16px;
    color:#a38131;
    margin-bottom: 25px;
}

#travelMap {
    height: 500px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
    border: 4px solid #6a0dad;
}
