html,body{
   background-color:#ffe3a3;
}
.dashboard-container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    color: #ffd166;
}

.dashboard-header h2 {
    font-size: 40px;
    margin-bottom: 5px;
    color:#7b2727;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashboard-header p {
    font-size: 18px;
    color: #88682b;
    margin-bottom: 40px;
}

.card-grid {
    display: flex;
    flex-direction: column;   /* stack vertically */
    gap: 25px;
    width: 60%;
    margin: auto;
}


.dash-card {
    background: #6a0dad;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.dash-card:hover {
    transform: translateY(-5px);
}

.dash-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffd166;
}

.dash-card p {
    font-size: 14px;
    color: wheat;
    margin-bottom: 20px;
}

.card-btn {
    text-decoration: none;
    background-color: #ffd166;
    color: #6a0dad;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.card-btn:hover {
    transform: scale(1.05);
}
