body,html{
  background-color:#ffe3a3;
}

.square{
  width:1000px;
  min-height:100vh;
  background-color:#ffefca;
  margin-top:50px;
  margin-left:15%;
  border-radius:200px;
  box-shadow:0 0 30px rgb(58,13,13);
  position:absolute;
}

.loginbox{
  width:500px;
  height:450px;
  background-color:#862fa6;
  border-radius:100px;
  margin:200px auto;
  padding:40px 0;
  text-align:center;
  box-shadow:0 0 30px #410b54;
}

.webname{
  font-size:60px;
  color:#ffd166;
  font-family:'Brittany Signature';
  margin-top:100px;
}

.rectangle{
  border:2px solid #ffd166;
  width:400px;
  height:50px;
  border-radius:50px;
  font-size:20px;
  color:#ffd166;
  margin:20px auto;
  text-align:center;
  background-color:#862fa6;
}

.rectangle::placeholder{
  color:#ffd166;
}

.loginbutton{
  background-color:#ffd166;
  color:#862fa6;
  font-size:22px;
  font-weight:bold;
  border:none;
  border-radius:30px;
  padding:12px 50px;
  cursor:pointer;
  margin-top:20px;
}

.image{
  width:120px;
  position:absolute;
  top:140px;
  left:50%;
  transform:translateX(-50%);
  border-radius:90%;
}
