body,html{
    background-color:#ffe3a3;
}

.square{
    width:1000px;
    min-height:100vh;
    background-color:#ffefca;
    margin-top:50px;
    margin-left: 50px;
    border-top-left-radius: 200px;
    border:5px solid rgb(58, 13, 13);
    
}

.loginbox{
    width:500px;
    height:450px;
    background-color:#862fa6;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin:200px 200px 200px 200px;
    padding: 40px 0;
    text-align: center;
}

.webname{
    font-size:60px;
    color:#ffd166;
    font-family:'Brittany Signature';
    display:inline-block;
    margin-top:100px;
    margin-left:20px;
    padding-bottom:50px;
    line-height:1;
    font-weight: lighter;
    margin-bottom:0px;
}

.rectangle{
    border:2px solid #ffd166;
    width:400px;
    height:50px;
    border-radius:50px;
    font-size:20px;
    color:#ffd166;
    margin:20px auto;
    display: block;
   text-align: center;
   background-color: #862fa6;
   box-sizing: border-box;

}
.rectangle::placeholder {
  color: #ffd166; 
  opacity:1;
}
.loginbutton {
  background-color: #ffd166; 
  color: #862fa6; 
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 30px; 
  padding: 12px 50px;
  cursor: pointer;
  display: block;
  margin: 30px auto; 
  box-shadow: 0 5px 15px rgba(55, 18, 68, 0.3); /* subtle purple shadow */
  transition: all 0.3s ease;
}
.image{
  width: 120px;
  position: absolute;
  top: 200px;      
  left:100%; 
  transform: translateX(-50%); 
  border-radius: 90%; 
  background-color: #862fa6;
}
    
