body,html{
    background-color:#ffe3a3;
    height:100%;
    margin:0;
    padding:0;
}
#heading{
    color:#ff7f11;
}

.square{
    width:1200px;
    min-height:100vh;
    background-color:#ffefca;
    margin:200px 0px 0px 100px;
    box-shadow:0 0 20px rgb(58, 13, 13);
    padding:50px;
    border-radius:200px;
}

.heading{
    font-size:80px;
    color:#ff7f11;
    font-weight:100px;
}

.navbar {
    padding: 20px;
    width: 100%;
    height: 80px;
    background-color: #862fa6;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px 10px 10px 0px;
    padding-top: 20px;
    box-shadow: 5px 0 20px rgb(58, 13, 13);
    display: flex;
    justify-content: space-between;
}

.webname{
    font-size:60px;
    color:#ffd166;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display:inline-block;
    margin-top:0px;
    margin-left:20px;
    padding-bottom:50px;
    line-height:1;
}
#p1,#p2,#p3{
    width:250px;
    height:320px;
    background-color: white;
    margin:50px;
    display:inline-block;
    box-shadow:0 0 20px rgb(58,13,13);
    border-top-left-radius:1000px;
    border-top-right-radius:1000px;
}
#t1{
   width:250px;
   height:250px;
}
.logout a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd166;
    font-size:10px;
    margin-left:20px;
    line-height:2;
    text-decoration: none;
    margin-bottom: 0;
}
.top-link {
    text-decoration: none;
    color: #ffd166;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    display:inline-block;
    margin-top:20px;
}
